<header>
    <div class="container-fluid header">
        <a href="#" id="barras-menu" class="link-menu-barras"><img class="teste" src="/assets/icons/bars-solid.svg" alt="icone do menu de barras"></a>
        <a routerLink=""><img class="logomarca" src="/assets/imagens/logo2.png" alt="Logo da Game Mania"></a>
        <form class="busca">
            <input type="search" id="busca" placeholder="O que você está procurando?" name="q">
            <button class="botao-lupa" type="submit"><img class="lupa" src="/assets/icons/lupa.png"></button>
        </form>
        <div class="area-login">
            <img class="icone-login" src="/assets/icons/login.png">
            <a class="login" href="#">Login</a>
        </div>
        <img class="carrinho-de-compra" src="/assets/icons/carrinho-de-compras.png" alt="Carrinho de compras">

    </div>
</header>
<section class="container-fluid menu">
    <nav id="menu" class="navegacao-menu">
        <a class="link-menu" routerLink="/acessorio">Acessórios</a>
        <a class="link-menu" routerLink="/lancamento">Lançamentos</a>
        <a class="link-menu" routerLink="/game">PC Gamer</a>
        <a class="link-menu" routerLink="/jogo">Jogos</a>
    </nav>

</section>