<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/imagens/6509218a64d0-Destaque_DESK_HALOINFINITE.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/assets/imagens/Battlefield.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/assets/imagens/Games.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/assets/imagens/c7c159a91023-Nintendo.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<section class="container-fluid frete-pagamento">
    <img src="/assets/imagens/Frete Gratis.png" alt="opções de frete e pagamento">
</section>
<section class="container-fluid departamento-lancamento">
    <h2 class="titulo-departamento">Departamentos</h2>
    <ul class="lista-departamento">
        <li>
            <a href="videogame.html"><img class="imagem-departamento" src="/assets/imagens/Dep. Games.png"></a>
        </li>
        <li>
            <a href="acessorio.html"><img class="imagem-departamento" src="/assets/imagens/Dep. Acessorios.png"></a>
        </li>
        <li>
            <a href="jogo.html"><img class="imagem-departamento" src="/assets/imagens/Dep. Jogos.png"></a>
        </li>
        <li>
            <a href="game.html"><img class="imagem-departamento" src="/assets/imagens/Dep. Acessorios.png"></a>
        </li>
    </ul>
</section>
<section class="container-fluid departamento-lancamento">
    <h2 class="titulo-departamento">Lançamentos</h2>
    <div id="espaco-produtos" class="content-news"></div>
</section>