* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F3F3F3;
    text-decoration: #454545;
}

.container-grid {
    width: 1200px;
    margin: 0 auto;
}

.frete-pagamento {
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.departamento-lancamento {
    margin-top: 46px;
}

.titulo-departamento {
    font-size: 26px;
    color: #454545;
    height: 60px;
    width: 60px;
    margin-left: 100px;
}

.lista-departamento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.imagem-departamento {
    padding-left: 38px;
}

.content-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-news {
    margin: 20px;
}

.card-img-top {
    height: 14em;
}

.card-body {
    background-color: black;
    color: #FFFFFF;
}

.value-text {
    color: #A30015;
    font-weight: bolder;
    font-size: 28px;
}

@media screen and (max-width: 1200px) {
    .container-grid {
        width: 85%;
    }
}

@media screen and (max-width: 768px) {
    .link-menu-barras {
        display: inline-block;
    }
    .navegacao-menu {
        display: none;
        flex-direction: column;
        text-align: center;
        background-color: black;
        height: 250px;
        width: 100vw;
        justify-content: space-around;
        position: absolute;
        top: 160px;
        right: 0;
    }
    .menu-ativo {
        display: flex;
    }
    .area-login,
    .carrinho-de-compra,
    .frete-pagamento {
        display: none;
    }
    .header {
        display: flex;
        flex-wrap: wrap;
    }
    .logomarca {
        width: 140px;
        height: 46.67px;
    }
    .logomarca {
        width: 100%;
    }
    .teste {
        float: right;
    }
    #carouselExampleIndicators {
        display: none;
    }
    .titulo-departamento {
        font-size: 22px;
    }
    .rodape {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .opcao-rodape {
        font-size: 16px;
    }
    .atendimento p,
    .endereco p,
    .contato p {
        font-size: 14px;
    }
    .redes-sociais {
        width: 30px;
        height: 30px;
    }
    .footer {
        font-size: 12px;
    }
    .imagem-lancamento {
        margin-top: 20px;
    }
    .imagem-departamento {
        margin-top: 30px;
    }
    .busca {
        width: 80%;
    }
}