.container-grid {
    width: 1200px;
    margin: 0 auto;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8%;
}

.campo-label {
    margin-bottom: 30px;
    color: #000000;
}

.campo-label input {
    background-color: #FFFFFF;
    border-radius: 2px;
    border-color: #000000;
}

#botao-enviar {
    width: auto;
    background-color: #6f42c1;
    color: #FFFFFF;
    text-decoration: none;
}

#mensagem {
    color: #000000;
    margin-top: 30px;
}