.rodape {
    background-color: #A30015;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    color: #FFFFFF;
}

.redes-sociais {
    width: 34px;
    height: 34px;
    margin-left: 10px;
}

.opcao-rodape {
    font-size: 20px;
}

.atendimento,
.endereco,
.contato,
.cadastro-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #1E2019;
    display: flex;
}

.footer p {
    color: #FFFFFF;
    margin: auto;
    height: 40px;
    padding: 10px;
}

.cadastro-email h2 {
    font-size: 16px;
    color: #FFFFFF;
}

#campo-email {
    width: 80%;
    height: 40px;
}

.testes {
    display: flex;
}

.botao-cadastrar {
    background-color: #6f42c1;
    color: #FFFFFF;
    border-radius: 20px;
}