<div class="rodape">
    <div class="atendimento">
        <h4 class="opcao-rodape">Atendimento</h4>
        <p>Horário: 08:00 às 19:00</p>
        <p>Seg a Sab - Exc. Dom/Fer</p>
    </div>
    <div class="endereco">
        <h4 class="opcao-rodape">Endereço</h4>
        <p>Rua: Centro - SP, 01</p>
        <p>São Paulo - SP</p>
    </div>
    <div class="contato">
        <h4 class="opcao-rodape">Email</h4>
        <p>gamemania@gmail.com</p>
        <div class="social-rede">
            <a href="https://twitter.com/i/flow/login" target="_blank"><img class="redes-sociais" src="/assets/icons/twitter.png"></a>
            <a href="https://pt-br.facebook.com/" target="_blank"><img class="redes-sociais" src="/assets/icons/facebook.png"></a>
            <a href="https://www.instagram.com/" target="_blank"><img class="redes-sociais" src="/assets/icons/instagram.png"></a>
            <a href="https://www.linkedin.com/" target="_blank"><img class="redes-sociais" src="/assets/icons/linkedin 1.png"></a>

        </div>

    </div>
    <div class="cadastro-email">
        <h2>Cadastre-se em nosso site e receba <br>noticias e promoções</h2>
        <form class="testes" action="">
            <input id="campo-email" type="email" placeholder="E-mail" required>
            <button class="botao-cadastrar" onclick="cadastrarEmail()">Cadastrar</button>

        </form>
    </div>
</div>
<footer class="footer">
    <p class="direitos-reservados">&copy; 2021 - Todos os direitos reservados</p>

</footer>